{% extends 'base.html' %}

{% block title %}Careers{% endblock title %}

{% block content %}
<div class="container">
<h2>Careers</h2>
 

<div class="list-group ">
    <a href="#" class="list-group-item list-group-item-action">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </a>
    <a href="#" class="list-group-item list-group-item-action">Iste nemo, saepe consequatur perferendis.</a>
    <a href="#" class="list-group-item list-group-item-action">accusamus unde 
        laboriosam nam non quae </a>
    <a href="#" class="list-group-item list-group-item-action">magni commodi in veritatis sint odio expedita</a>
    <a href="#" class="list-group-item list-group-item-action ">voluptatum nulla delectus reprehenderit</a>
  </div>
</div>
  
{% endblock content %}