{% extends 'base.html' %}

{% block title %}Our Mission{% endblock title %}

{% block content %}
<h2>Our Mission</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Iste nemo, saepe consequatur perferendis accusamus unde 
    laboriosam nam non quae itaque molestiae id quisquam rerum 
    magni commodi in veritatis sint odio expedita. Qui doloribus 
    laborum consequatur eum porro! Praesentium quod amet 
    blanditiis recusandae voluptatum nulla delectus reprehenderit 
    voluptatem voluptate quidem. Deleniti.</p>
{% endblock content %}